services:
  api:
    build: .
    container_name: careatlas
    volumes:
      - ./src:/server/src
    # API now runs on 8001
    command: uv run uvicorn careatlas.app.server:app --host 0.0.0.0 --port 8001 --reload --reload-dir /server/src/careatlas/app
    environment:
      - NICEGUI_STORAGE_SECRET=${OAUTH_COOKIE_KEY}
      - AUTH_URL=http://localhost:4180/oauth2
      - FORWARDED_ALLOW_IPS=*
      - ENV=dev

  mitmproxy:
    image: mitmproxy/mitmproxy:latest
    container_name: careatlas-mitm
    volumes:
      - ./src/careatlas/app/proxy.py:/home/mitmproxy/proxy.py
    command: >
      mitmdump --mode reverse:http://api:8001/
      -s /home/mitmproxy/proxy.py
      --set keep_host_header=false
    ports:
      - "8080:8080"
    depends_on:
      - api

  auth-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: careatlas-proxy
    ports:
      - "4180:4180"
    env_file:
      - .env
    environment:
      OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
      # IMPORTANT: Points to mitmproxy now
      OAUTH2_PROXY_UPSTREAMS: "http://mitmproxy:8080" 
      OAUTH2_PROXY_COOKIE_DOMAINS:
      OAUTH2_PROXY_WHITELIST_DOMAINS: "localhost:4180,localhost:8080,.localhost"
      OAUTH2_PROXY_PROVIDER: "github"
      OAUTH2_PROXY_CLIENT_ID: ${OAUTH_CLIENT_ID}
      OAUTH2_PROXY_CLIENT_SECRET: ${OAUTH_CLIENT_SECRET}
      OAUTH2_PROXY_COOKIE_SECRET: ${OAUTH_COOKIE_KEY}
      OAUTH2_PROXY_GITHUB_ORG: ${OAUTH_ORG_NAME}
      OAUTH2_PROXY_GITHUB_TEAM: ${OAUTH_TEAM_NAME}
      OAUTH2_PROXY_COOKIE_SECURE: "false"
      OAUTH2_PROXY_REDIRECT_URL: "http://localhost:4180/oauth2/callback"
      OAUTH2_PROXY_EMAIL_DOMAINS: "undp.org"
      OAUTH2_PROXY_COOKIE_SAMESITE: "lax"
      OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
      OAUTH2_PROXY_PASS_USER_HEADERS: "true"
      OAUTH2_PROXY_REVERSE_PROXY: "true"
      OAUTH2_PROXY_TRUSTED_IPS: "0.0.0.0/0"
      # Tell the proxy NOT to challenge for these paths
      #OAUTH2_PROXY_SKIP_AUTH_ROUTES: "^/explorer/.*,^/static/.*"